.search {
  width: 1500px;
  margin: auto;
}
.search__title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search__content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search__result {
  margin-top: 55px;
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.search__input {
  width: 282px;
  height: 42px;
  right: 520px;
  top: 24px;
  padding-left: 15px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 200px;
  outline: none;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.search__input:hover{
  border: 1px solid green;
  transition: 0.3s;
}